{% extends 'base.html' %}
{% block title %}Knell Login{% endblock %}
{% block content %}

<form class="register-form" method="POST">
    {% csrf_token %}
    <div>
        <label>Username</label>
        <div class="data-input">
            <input type="text" name="username">
        </div>
    </div>
    <div>
        <label>Password</label>
        <div class="data-input">
            <input type="password" name="password">
        </div>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %} 
    <button type="submit" class="link-button">Log in</button>
    <p>Don't have an account yet? <a href="/account/register">Create one!</a></p>
    </form>


{% endblock %}

{% block footer %}
{% endblock %}