{% extends 'base.html' %}
{% block title %} {{ request.user }} Profile {% endblock %}
{% block content %}
<div class="profile-content">
    <div class="profile-picture-div">
        <img class="profile-picture" width="250" height="250" src="{{ user_profile.profile_picture.url }}">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Change picture" class="link-button"></p>
        </form>
       <p><a class="link-button" href="{% url 'reset-profile-picture' %}">Reset to default</a></p>
    </div>

    <div class="profile-data">
        <h3>Account data:</h3>
        <h4>Username: <span style="font-weight: normal;">{{ request.user.username }}</span></h4>
        <h4>Email: <span style="font-weight: normal;">{{ request.user.email }}</span></h4>
        <h4>Amount of orders: <span style="font-weight: normal;">{{ orders.count }}</span></h4>
        <h4>Last login: <span style="font-weight: normal;">{{ request.user.last_login }}</span></h4>
        <p><a class="link-button" href="{% url 'change-username' %}">Change username</a></p>
        <p><a class="link-button" href="{% url 'change-email' %}">Change password</a></p>
        <p><a class="link-button" href="{% url 'change-email' %}">Change email</a></p>
    </div>

    <div class="orders-div">
        <h3>Order history</h3>
        {% for order in orders reversed %}
            <div class="single-order"><a class="nav-link nav-button" href="{% url 'order-detail' order.pk %}"><p>Order reference number: {{ order }}</p></a>
                <p>Items in order:
                    {% for item in order.cart_list %}
                    <p>{{ item }}</p>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}