{% extends 'base.html' %} 
{% block title %} Cart {% endblock %}
{% block content %}



<ul class="no-style-list cart-list">
    {% if order.cart_list %}
    <h2>Your order</h2>
    {% for item in order.cart_list %}
    <li class="cart-item">{{ item }} <a class="link-button remove-button" href="{% url 'remove-from-cart' item.pk %}">Remove</a></li>
    {% endfor %}
    <a class="link-button" href="{% url 'checkout' %}">Proceed to checkout</a>
    {% else %}
    <h3>Your cart is empty </h3>
    {% endif %}
</ul>



{% endblock %}