body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
  }

/* navbar */
nav {
  background-color: #f8f9fa;
  padding: 1px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.nav-margin-right {
  margin-right: auto;
}

.nav-margin-left{
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-menu,
.nav-submenu,
.nav-subsubmenu {
  list-style-type: none;
}

.nav-item {
  padding: 15px;
}

.nav-button:hover {
  text-decoration: underline;
}

.nav-dropdown {
  position: relative;
}

.nav-submenu{
  position: absolute;
  left: -30px;
  margin-top: 20px;
  
}

.nav-subitem {
  display: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px;
  float: left;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  text-align: left;
  position: relative;
}

.nav-subitem:hover,
.nav-subsubitem:hover {
  background-color: #DDD;
}

.nav-subsubmenu {
  display: none;
  position: absolute;
  left:81%;
  width:100%;
}

.nav-list:hover > ul {
  display: block;
}

.nav-subsubitem {
  background-color: white;
  box-shadow: 1px 1px 1px 1px;
  width: 75%;
  float: left;
  text-align: left;
  height: 39px;
  line-height: 40px;
  padding-left: 5px;
  
}

/* search form */
input[type=search] {
	padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 100px;
	border: 1px solid black;
  line-height: 30px;
}

#search-form-button {
  border: solid 1px black;
  background-color: #DDD;
  text-decoration: none;
  padding: 12px;
}

#search-form-button:hover {
  background-color: #b8b8b8;
}

/* category menu */
#category-menu {
  background-color:#f8f9fa;
  list-style-type: none;
  padding: 50px;
  margin: 50px;
  margin-top: 75px;
  font-size:18px;
  height:2em;
  line-height:2em;
  text-align:center;
  width: 160px;
  height: 500px;
  border: solid 1px;
  box-shadow: 1px 1px 5px #888888;
}

#category-menu > li {
  background-color:white;
  width:150px;
  margin-top:3px;
  height:2em;
}

#category-menu a {
  display: inline-block;
  color:#000;
  text-decoration:none;
  padding:0 5px;
}

#category-menu > li:hover {
  background-color:#EEE;
}

#category-menu > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: -2em;
}

#category-menu > li:first-child {
  margin-top:0;
}

#category-menu > li > ul > li {
  background-color:#EEE;
  position: relative;
  left: 76%;
  width: 200px;
  border-top:1px solid #FFF;
}

#category-menu > li > ul > li:hover {
  background-color:#DDD;
}

#category-menu > li > ul {
  display:none;
}

#category-menu > li:hover > ul {
  display: inline-block;
}

.category-img {
  width: 243px;
  height: 330px;
  float: left;
  margin-top: -400px;
  margin-left: 60px;
}


/* footer */
.content {
  min-height: 100vh;
}

.footer {
  background-color: #f8f9fa;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  margin-top: 10px;
}

/* login and register form */
.register-form {
  display: felx;
  align-items: center;
  width: 10%;
  margin: auto;
  padding: 100px;
  margin-top: 150px;
  background-color:#f8f9fa;
  border: solid 1px;
  box-shadow: 1px 1px 5px #888888;
}

.log-in-button {
  margin-top: 15px;
  padding: 5px;
  width: 75px;
  border: solid 1px black;
  background-color: #DDD;
  text-decoration: none;
}

.log-in-button:hover {
  background-color: #b8b8b8;
}

.data-input {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: -1px;
}

.real-register-form {
  margin-top: 100px;
}

/* search result */
.filters {
  display: flex;
  flex-direction: column;
 align-items: center;
  width: 15%;
  margin: 30px;
  height: 700px;
  background-color:#f8f9fa;
  border: solid 1px;
  box-shadow: 1px 1px 5px #888888;
}

.filters-title {
  background-color: #DDD;
  width: 100%;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.price-input {
  width: 90%;
  margin-top: 10px;
}

.product-list{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.product-sublist {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.result-title {
  text-align: left;
  font-size: 30px;
}
.product{
  width: 95%;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:#f8f9fa;
  border: solid 1px;
  box-shadow: 1px 1px 5px #888888;
  display: flex;
  justify-content: flex-start;
}

.product-picture {
  height: 170px;
  width: 200px;
}

.product-name {
  width: 100%;
  font-size: 20px;
  margin-left: 50px;
  text-align: left;
}

.product-price {
  font-size: 50px;
  text-align: right;
  margin-top: -10px;
  margin-right: 100px;
  position: absolute;
  right: 0;
}

.add-to-cart {
  width: 30%;
  height: 40%;
  margin-top: 100px;
  margin-right: 10px;
}

.page-container {
  display: flex;
  justify-content: space-around;
}

#price-form-button {
  margin-top: 15px;
  padding: 5px;
  width: 75px;
  border: solid 1px black;
  background-color: #DDD;
  text-decoration: none;
}

#price-form-button:hover {
  background-color: #b8b8b8;
}

/* pagination buttons */
.pagination-button {
  margin-top: 15px;
  padding: 5px;
  width: 75px;
  border: solid 1px black;
  background-color: #DDD;
  text-decoration: none;
}

.pagination-button:hover {
  background-color: #b8b8b8;
}

.page-active {
  background-color: #8c8c8c;
}