<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Knell shop{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
  <div class="content">
    <!-- navbar -->
    <nav onselectstart="return false;">
        <ul class="nav-menu">
            <li class="nav-logo"><a class="nav-link" href="/"><img src="{% static 'logo.png' %}" alt="Logo" width="70" height="50"></a></li>

            <li class="nav-item nav-margin-left">
                {% if request.user.is_authenticated %}
                <a class="nav-link nav-button" href="{% url 'profile-url' %}">{{ request.user }}</a>
                {% else %}
                <a class="nav-link nav-button" href="{% url 'login-url' %}">Login</a>
                {% endif %}
            </li>

            <li class="nav-item"><a class="nav-link nav-button" href="{% url 'cart' %}">Cart</a></li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-button" id="nav-dropdown">Categories &blacktriangledown;</a>
                <ul class="nav-submenu nav-relative">
                  <li class="nav-list">
                      <a class="nav-link nav-subitem">Components</a>
                    <ul class="nav-subsubmenu">
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=graphic">Graphic Cards</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=processor">Processors</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=motherboard">Motherboards</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=memory">Memory</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=hdd">Hard Drivers</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=ssd">SDDs</a></li>
                    </ul>
                  </li>
                  <li class="nav-list"><a class="nav-link nav-subitem">Accessories</a>
                    <ul class="nav-subsubmenu">
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=cable">Cables</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=adapter">Adapters</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=hub">Hubs</a></li>
                    </ul>
                  </li>
                  <li class="nav-list"><a class="nav-link nav-subitem">Peripherials</a>
                    <ul class="nav-subsubmenu">
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=monitor">Monitors</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=mouse">Mice</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=keyboard">Keyboards</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=printer">Printers</a></li>
                    </ul>
                  </li>
                  <li class="nav-list"><a class="nav-link nav-subitem">Mobile Devices</a>
                    <ul class="nav-subsubmenu">
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=phone">Phones</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=tablet">Tablets</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=laptop">Laptops</a></li>
                      <li><a class="nav-link nav-subsubitem" href="/search-result?search-form=smartwach">Smartwaches</a></li>
                    </ul>
                  </li>
                </ul>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item nav-margin-right">
                <a class="nav-link nav-button" href="{% url 'logout-url' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item nav-margin-right">
              <a class="nav-link nav-button" href="/">Main page</a>
          </li>
            {% endif %}

            <li class="nav-item">
                <form method="GET" action="{% url 'search-result' %}">
                    <input type="search" placeholder="Search" name="search-form">
                    <button id="search-form-button" type="submit">Search</button>
                </form>
            </li>

                {% if request.user.is_staff%}
                <li class="nav-item"></li>
                    <ul class="nav-item">
                        <a class="nav-link nav-button" href="/admin">Admin Panel</a>
                    </ul>
                </li>
                {% endif %}   
        </ul>
    </nav>
    {% block content %}
    <div class="main-display">
      <!-- product of the day -->
      <div class="product-of-the-day-div">
        <p></p><p>Welcome on Knellshop.com.</p><p>Our best offer today is:</p>
        <div class="product-of-the-day">
          <div >
            <a href="{% url 'product-detail' product_of_the_day.pk %}" class="single-product-display nav-link">
              <img src="{{ STATIC_URL }}{{ product_of_the_day.picture }}">
              {{ product_of_the_day }}
            </a>
          </div>
        </div>
      </div>

      <!-- display of products -->
      <div class="products-display-container">
        <span>Recommended:</span>
        <div class="products-display">
            {% for product in products_list %}
            <a href="{% url 'product-detail' product.pk %}" class="single-product-display nav-link">
              <img src="{{ STATIC_URL }}{{ product.picture }}">
              {{ product }}
            </a>
            
            {% endfor %}
        </div>
    </div>
  </div>
    {% endblock %}

    {% block footer %}
    <!-- footer -->
    <footer class="footer">
      <div class="footer-content">
        Footer
      </div>
    </footer>
    {% endblock %}
  </div>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script> 
</body>
</html>